// Sizes
$size-padding: 10px;
$size-margin: $size-padding;

$size-icon: 26px;
$size-icon-small: 20px;
$size-icon-big: 32px;

$size-titleBar: 60px;
$size-listItemMax: 150px;

// Weights
$weight-thin: 300;
$weight-bold: 600;

// Z-Indexes
$z-titleBar: 100;
