@import "../colors";
@import "../variables";

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $size-titleBar;
  padding: $size-padding;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-titleBar;

  &--white {
    background: $color-white;
    color: $color-blue;
  }

  &--white &__title {
    color: black;
  }

  &--white &__item:hover, &--white &__item:focus,
  &--white &__item__link:hover, &--white &__item__link:focus {
    color: $color-pink;
  }

  &--white &__item__link {
    color: $color-blue;
  }

  &--transparent {
    background: transparent;
    color: $color-white;
  }

  &--transparent &__item__link {
    color: $color-white;
  }

  &__item {
    z-index: 1;
    cursor: pointer;
    transition: transform .15s ease-in-out, color .15s ease-in-out;

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &--left {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__link {
      text-decoration: none;
      transition: color .15s ease-in-out;

      &__icon {
        height: $size-icon;
        width: $size-icon;
      }
    }

    &__label {
      &--bold {
        font-weight: $weight-bold;
      }
    }
  }

  &__title {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-weight: $weight-bold;
    text-align: center;
  }
}
